<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TinyFede</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">

  <link href="/style.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</head>
<body>

  <div class="header grown working">
    <div class="container">
      <h1>Metiendo mayingan <br><span>10' de bokita y basta</span></h1>
      <img src="/images/fede2.png">
    </div>
  </div>

  <section class="optimizer-intro">
    <div class="container">      
      <span class="breadcrumb">Volver a <a href="/">Renamer</a> | <a href="/optimizer/compress">Optimizer</a></span>
      
      <h5 class="image-counter">Se optimizaron <strong><span class="current-optimizadas">0</span> de <%= cantidad %> </strong> imagenes.</h5>

      <div class="file-rows-holder">
        <% for (var i = 0; i < fileList.length; i++) { %>
          <div id="file-<%= i %>" class="file-row">
            <div class="file-item"><%= fileList[i] %></div>

            <div class="file-stats"></div>
          </div>
        <% } %>
      </div>

      </form>
    </div>
  </section>


  <script>

    var ancho = '<%- (ancho !== "" ) ? ancho : "empty" %>'

    $(document).ready(function() {

      images = []

      $( ".file-item" ).each(function() {
        var imageName = $( this ).html();
        images.push(imageName)
      });

      total = images.length;

      optimizarImagen(0);

      function optimizarImagen(i) {

        $('#file-'+i).addClass('optimizing')

        $.ajax({
          url: "http://localhost:3000/optimizer/action",
          method:"POST",
          data: {
            ancho: ancho,
            image: images[i],
            id: i,
          },
          dataType : "JSON"
        }).done(function(response) {

          $('.current-optimizadas').html(parseInt(response.id) + 1)
          
          $('#file-'+response.id+' .file-stats').html('<span>'+response.antes+ ' -></span> '+response.size)
          $('#file-'+response.id).removeClass('optimizing')
          $('#file-'+response.id).addClass('done')

          if (response.proximo !== total) {
            optimizarImagen(response.proximo)
          } else {
            $('.header').removeClass('working');
            $('.header').addClass('ready');
            $('.header h1').html('Andá maquina nomas <br><span>Nada te detiene</span>');
          }

        }).fail(function(jqXHR, textStatus) {
          console.log('failed')
        });
      }

    });
  </script>
  </body>
</html>